{% extends "templates/partials/base.j2" %}
{% block title %}Mithilfe{% endblock title %}
{% block page_description %}
<meta name="description" content="Mithilfe">
{% endblock page_description %}

{% block content %}
<div class="container">
    <h1 class="text-center display-2 pb-2">Mithilfe</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>
                Gerne können Sie dazu beitragen, die automatische Volltexterkennung zu verbessern. Dies geschieht auf der Plattform Transkribus, für die eine einmalige kostenlose Anmeldung benötigt wird, die Sie hier vornehmen können: <a href="https://transkribus.eu">https://transkribus.eu</a>
            </p>
            <p>
                Für die Verbesserung von Texten kann, nach Kontaktaufnahme mit uns, auf die Website <a href="https://app.transkribus.org/">https://app.transkribus.org/</a> zugegriffen werden. Die Installation eines Programmes ist nicht nötig.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    
</div>

{% endblock content %}