<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img src="img/project-logo.svg"  alt="Schnitzler-Zeitungen Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="search.html">Suchen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="browse.html">Stöbern</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Info
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="about.html">Über das Projekt</a></li>
            <li><a class="dropdown-item" href="crowdsourcing.html">Mithilfe</a></li>
            <li><a class="dropdown-item" href="https://schnitzler.acdh.oeaw.ac.at">Schnitzler am ACDH-CH</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>