#osd_viewer {
    width: 100%;
    height: 800px;
}


.navbar {
    border-bottom-style: solid;
    border-bottom-color: #6c757d;
    border-bottom-width: 5px;
    font-size: larger;
}

.navbar .navbar-brand img {
	max-height: none;
	height: 4rem;
	max-width: 100%;
}

header.masthead {
	position: relative;
	background-color: #343a40;
	background: url("project-title-img.jpg") no-repeat center center;
	background-size: cover;
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.footer-separator {
    display: flex;
    border-bottom: 1px solid #eee;
    padding-bottom: .3rem;
    padding-top: .5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: .9rem}

.row-footer {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto}

.background-color-light-blue{
	background-color: #A4BCDC;
}

a {
	color: #495588;
	text-decoration: none;
}

.cornered-pill {
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 0.9rem;
    text-decoration: none;
}
.entry-title {
    text-decoration: none;
    font-weight: bold;
}
.entry-title:hover {
    text-decoration: underline;
}
.toggle-icon {
    font-size: 1.2rem;
    cursor: pointer;
}

/* Styling for the horizontal list */
.horizontal-list {
            display: flex;
            gap: 8px 20px; /* Abstand zwischen den Einträgen */
            flex-wrap: wrap;
            padding: 10px;
            margin: 0;
            list-style: none; /* Entfernt Standard-Bullets */
            margin-bottom: 8px;
        }

/* Individual list items */
.horizontal-list li {
    display: flex;
    align-items: center; /* Center items vertically */
    line-height: 1;
}

/* Colored dot before each item */
.horizontal-list li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--dot-color); /* Use the inherited color */
    border-radius: 50%;
    margin-right: 10px;
}

.list-container {
            overflow-x: auto; /* Horizontal scrollen */
            white-space: nowrap; /* Kein Umbruch für Kinder */
        }
